{% load static %}
{% load compress %}
{% load i18n %}
{% load fontawesome_6 %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" dir="{% translate 'dir' %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ data.page_description }}" name="description">
    <title>{{ data.page_title }}</title>
    <meta name="robots" content=" index, follow">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ data.page_title }}"/>
    <meta property="og:description" content="{{ data.page_description }}"/>
    <meta property="og:image" content="{% static 'img/ITBulid-01.webp' %}"/>
    <meta property="og:site_name" content="{{ data.page_title }}"/>
    <meta property="fb:app_id" content="APP ID"/>
    <meta name="twitter:title" content="{{ data.page_title }}">
    <meta name="twitter:description" content="{{ data.page_description }}">
    <meta name="twitter:image" content="{% static 'img/ITBulid-01.webp' %}">
    <meta name="twitter:site" content="@USERNAME">
    <meta name="twitter:creator" content="@USERNAME">
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

    <!-- Stylesheets -->
    {% if request.LANGUAGE_CODE == "en" %}
        {% compress css %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
            <link href="{% static 'css/animate.css' %}" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            {% fontawesome_6_static %}
        {% endcompress %}
    {% else %}
        {% compress css %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick.css' %}" rel="stylesheet">
            <link href="{% static 'css/style-rtl.css' %}" rel="stylesheet">
            <link href="{% static 'css/style-dark.css' %}" rel="stylesheet">
            <link href="{% static 'css/animate.css' %}" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            {% fontawesome_6_static %}
        {% endcompress %}
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

<div class="page-wrapper">
    <!-- Main Header-->
    <header class="main-header header-style-two">
        <div class="auto-container">
            <div class="upper-box">
                <div class="outer-box-two">
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'home' %}" title="itbuild home"><img src="{% static 'img/logo.webp' %}"
                                                                          alt="itbuild logo"></a></div>
                    </div>
                    <!-- header-top -->
                    <div class="header-top">
                        <div class="top-left">
                        </div>
                        <div class="top-right">
                            <ul class="social-icons">
                                <li><a href="https://api.whatsapp.com/send?phone={{ data.whatsapp_phone|cut:'+' }}"
                                       title="itbuild whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="{{ data.facebook }}" title="itbuild facebook" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="{{ data.twitter }}" title="itbuild twitter" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                                <li><a href="{{ data.linkedin }}" title="itbuild linkedin" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-lower">
                        <!-- Main box -->
                        <div class="main-box">
                            <!--Nav Box-->
                            <div class="nav-outer">
                                <nav class="nav main-menu">
                                    <ul class="navigation onepage-nav">
                                        <li class="current"><a href="#home">{{ _("home") }}</a></li>
                                        <li><a href="#about">{{ _("about") }}</a></li>
                                        <li><a href="#services">{{ _("our services") }}</a></li>
                                        <li><a href="#partners">{{ _("our partners") }}</a></li>
                                        <li><a href="#testimonials">{{ _("our testimonials") }}</a></li>
                                        <li><a href="#contact">{{ _("contact") }}</a></li>
{#                                        <li>#}
{#                                            {% get_current_language as LANGUAGE_CODE %}#}
{#                                            {% if LANGUAGE_CODE == 'ar' %}#}
{#                                                <a href="/"#}
{#                                                   style="color: #ffaa17!important; font-width: 800!important;">#}
{#                                                    EN#}
{#                                                </a>#}
{#                                            {% else %}#}
{#                                                <a href="/ar"#}
{#                                                   style="color: #ffaa17!important; font-width: 800!important;">#}
{#                                                    AR#}
{#                                                </a>#}
{#                                            {% endif %}#}
{#                                        </li>#}
                                    </ul>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                            <div class="outer-box"><a href="tel::{{ data.main_phone }}" title="itbuild phone" class="contact-btn"> <i
                                    class="fa-solid fa-phone"></i> <span>{{ _("Call Anytime") }}</span>
                                <h6 class="title" dir="ltr">{{ data.main_phone }}</h6>
                            </a>
                                <div class="mobile-nav-toggler"><i class="fa fa-bars"></i></div>
                            </div>
                        </div>
                        <!-- Mobile Menu  -->
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="upper-box">
                    <div class="nav-logo"><a href="{% url 'home' %}" title="itbuild home"><img src="{% static 'img/logo.webp' %}"
                                                                          alt="itbuild logo" title="itbuild logo"></a>
                    </div>
                    <div class="close-btn"><i class="icon fa fa-times"></i></div>
                </div>
                <ul class="navigation onepage-nav clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </ul>
                <ul class="contact-list-one">
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box"><i class="icon fa-regular fa-phone"></i> <span
                                class="title">{{ _("Call Now") }}</span> <a href="tel:{{ data.main_phone }}"
                                                                            title="itbuild phone" dir="ltr">{{ data.main_phone }}</a></div>
                    </li>
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box"><span class="icon fa-regular fa-envelope"></span> <span
                                class="title">{{ _("Send Email") }}</span> <a
                                href="mailto:{{ data.email }}">{{ data.email }}</a></div>
                    </li>
                </ul>
                <ul class="social-links">
                    <li><a href="https://api.whatsapp.com/send?phone={{ data.whatsapp_phone|cut:'+' }}" title="itbuild whatsapp" target="_blank"><i
                            class="fab fa-whatsapp"></i></a></li>
                    <li><a href="{{ data.facebook }}" title="itbuild facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="{{ data.twitter }}" title="itbuild twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{{ data.linkedin }}" title="itbuild linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </nav>
        </div>
        <!-- End Mobile Menu -->

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo"><a href="{% url 'home' %}" title="itbuild home"><img src="{% static 'img/logo.webp' %}"
                                                                                      alt="itbuild logo"
                                                                                      title="itbuild logo"></a></div>

                    <!--Right Col-->
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation onepage-nav clearfix">
                                    <!--Keep This Empty / Menu will come through Javascript-->
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><i class="fa fa-bars"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sticky Menu -->
    </header>
    <!--End Main Header -->

    <!-- banner-section  -->
    <section id="home" class="banner-section-two">
        <div class="{% if request.LANGUAGE_CODE == "en" %}banner-slider{% else %}banner-slider-rtl{% endif %}">
            {% for slider in data.slider_set.all %}
                <div class="banner-slide">
                    <img src="{{ slider.bg_image.url }}" alt="{{ slider.title }}">
                    <div class="outer-box">
                        <div class="auto-container">
                            <div class="content-box">
                                <span class="sub-title">{{ slider.sub_title }}</span>
                                <h1 data-animation-in="fadeInLeft" data-delay-in="0.2"> {{ slider.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End banner-section -->

    <!-- short service section -->
    <section class="service-section pt-0 pb-0">
        <div class="auto-container">
            <div class="row g-0">
                <!-- service-block -->
                <div class="service-block col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="icon-box">{{ data.short_service_icon1.as_html }}
                            <h2 class="title"><a href="#">{{ data.short_service_title1 }}</a></h2>
                        </div>
                        <div class="text">{{ data.short_service_description1 }}</div>
                    </div>
                </div>
                <!-- service-block -->
                <div class="service-block col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="600ms">
                    <div class="inner-box">
                        <div class="icon-box">{{ data.short_service_icon2.as_html }}
                            <h2 class="title"><a href="#">{{ data.short_service_title2 }}</a></h2>
                        </div>
                        <div class="text">{{ data.short_service_description2 }}</div>
                    </div>
                </div>
                <!-- service-block -->
                <div class="service-block col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="icon-box">{{ data.short_service_icon3.as_html }}
                            <h2 class="title"><a href="#">{{ data.short_service_title3 }}</a></h2>
                        </div>
                        <div class="text">{{ data.short_service_description3 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End short service-section -->

    <!-- about-section -->
    <section id="about" class="about-section">
        <div class="auto-container">
            <div class="row">
                <!-- content-column -->
                <div class="content-column col-lg-6 wow fadeInLeft" data-wow-delay="600ms">
                    <div class="inner-column">
                        <div class="sec-title"><span
                                class="sub-title text-uppercase">{{ _("ABOUT ITBUILD") }}  ::::::</span>
                            <h2>{{ data.about_us_title }}</h2>
                            <div class="text">{{ data.about_us_description }}</div>
                        </div>
                        <div class="row">
                            <!-- about-block -->
                            <div class="about-block col-sm-6">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-regular fa-eye"></i>
                                        <h3 class="title">{{ _("Our Vision") }}</h3>
                                    </div>
                                    <div class="text">{{ data.our_vision_text }}</div>
                                </div>
                            </div>
                            <!-- about-block -->
                            <div class="about-block col-sm-6">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="fa-regular fa-crosshairs"></i>
                                        <h3 class="title">{{ _("Our Mission") }}</h3>
                                    </div>
                                    <div class="text">{{ data.our_mission_text }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- image-column -->
                <div class="image-column col-lg-6 wow fadeInRight" data-wow-delay="600ms">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image overlay-anim"><img src="{{ data.about_us_main_image.url }}"
                                                                    alt="about itbuild"></figure>
                            <figure class="image-2 overlay-anim bounce-y"><img src="{{ data.about_us_sec_image.url }}"
                                                                               alt="about itbuild"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-section -->

    <!-- Call To Action Three -->
    <div class="call-to-action p-0">
        <div class="auto-container">
            <div class="outer-box">
                <div class="auther-info"><img src="{% static 'img/logo1.webp' %}" alt="itbuild logo">
                </div>
                <h3 class="title">{{ _("Contact with us Any time!") }}</h3>
                <a href="#contact" title="itbuild contact" class="ser-btn theme-btn btn-style-one">{{ _("Contact Now") }}</a>
            </div>
        </div>
    </div>
    <!--End Call To Action Three -->

    <!-- team section -->
    <section class="about-section-two pt-0">
        <div class="auto-container">
            <div class="row">
                <!-- image-column -->
                <div class="image-column col-lg-6 wow fadeInLeft animated" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image overlay-anim">
                                <img src="{{ data.team_image.url }}" alt="team_image">
                            </figure>
                            <div class="exp-box">
                                <h3 class="title">{{ _("Professional Team you can Trust") }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-column -->
                <div class="content-column col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="sec-title"><span class="sub-title">{{ _("Professional Team") }}  ::::::</span>
                            <h2>{{ data.team_title1 }}</h2>
                            <div class="text">{{ data.team_description1 }}</div>
                        </div>
                        <div class="sec-title">
                            <h2>{{ data.team_title2 }}</h2>
                            <div class="text">{{ data.team_description2 }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team section -->

    <!-- services section -->
    <section id="services" class="main-section">
        <!-- process-section -->
        <div class="process-section pb-0">
            <div class="auto-container">
                <div class="sec-title text-center"><span class="sub-title">::::::  {{ _("What We’re Offering") }}  ::::::</span>
                    <h2>{{ _("Services Built Specifically") }} <br> {{ _("for your Business") }}</h2>
                </div>
                <div class="row">
                    <!-- process-block -->
                    {% for service in data.service_set.all %}
                        <div class="process-block {% if forloop.counter == 1 %}current{% else %}{% endif %} col-lg-3 col-md-6 col-sm-12 wow fadeInLeft"
                             data-wow-delay="{% widthratio 200 1 forloop.counter %}ms"
                             data-tab="service{{ service.id }}">
                            <div class="inner-box">
                                <div class="icon-box"> {{ service.icon.as_html }} </div>
                                <div class="content-box">
                                    <h3 class="title"><a href="#">{{ service.name }}</a></h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End process-section -->

        <!-- what we do section -->
        <div class="what-we-do-section">
            <div class="auto-container">
                <div class="custom-tab-content">
                    {% for service in data.service_set.all %}
                        <div class="custom-tab-slide {% if forloop.counter == 1 %}current{% else %}{% endif %}"
                             id="service{{ service.id }}">
                            <div class="row">
                                <!-- image-column -->
                                <div class="image-column col-lg-6">
                                    <div class="inner-column">
                                        <div class="image-box">
                                            <figure class="image"><img src="{{ service.image.url }}"
                                                                       alt="{{ service.name }}"></figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- content-column -->
                                <div class="content-column col-lg-6">
                                    <div class="inner-column">
                                        <h3 class="title">{{ service.name }}</h3>
                                        <div class="text">{{ service.description }}</div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End what-we-do-section -->
    </section>
    <!-- End services section -->

    <!-- data center Section -->
    <section class="about-section-three p-0">
        <div class="auto-container">
            <div class="row">
                <!-- image-column -->
                <div class="image-column col-lg-6 wow fadeInLeft" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image"><img src="{{ data.data_center_main_image.url }}" alt="data center">
                            </figure>
                            <figure class="image-2"><img src="{{ data.data_center_sec_image.url }}" alt="data center">
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- content-column -->
                <div class="content-column col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="sec-title"><span class="sub-title">{{ _("Get to Know") }}  ::::::</span>
                            <h2>{{ _("Data Center") }}</h2>
                            <div class="text">{{ data.data_center_text|linebreaks }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End data center -->

    <!-- digital workspaces Section -->
    <section class="faqs-section">
        <div class="auto-container">
            <div class="row">
                <!-- digital workspaces Column -->
                <div class="faq-column col-lg-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="sec-title"><span class="sub-title">{{ _("Get to Know") }}  ::::::</span>
                            <h2>{{ _("Digital Workspaces Solutions") }}</h2>
                        </div>
                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <h3 class="acc-btn mb-0 active"> 1. {{ data.digital_workspace_title1 }} <i
                                        class="icon fa fa-angle-right"></i></h3>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">{{ data.digital_workspace_description1|linebreaks }}</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <h3 class="acc-btn mb-0">2. {{ data.digital_workspace_title2 }} <i
                                        class="icon fa fa-angle-right"></i></h3>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">{{ data.digital_workspace_description2|linebreaks }}</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <h3 class="acc-btn mb-0">3. {{ data.digital_workspace_title3 }} <i
                                        class="icon fa fa-angle-right"></i></h3>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">{{ data.digital_workspace_description3|linebreaks }}</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <h3 class="acc-btn mb-0">4. {{ data.digital_workspace_title4 }} <i
                                        class="icon fa fa-angle-right"></i></h3>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">{{ data.digital_workspace_description4|linebreaks }}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- image-column -->
                <div class="image-column col-lg-6 wow fadeInUp" data-wow-delay="600ms">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image overlay-anim"><img src="{{ data.digital_workspace_image.url }}"
                                                                    alt="digital workspace solutions image"></figure>
                            <div class="exp-box bounce-y"><i class="fa-solid fa-server"></i>
                                <h6 class="title">{{ _("Top Quality Digital Solutions") }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End digital workspaces Section -->

    <!-- partner-section -->
    <section id="partners" class="offer-section">
        <div class="auto-container">
            <div class="sec-title light"><span class="sub-title">{{ _("We are agents") }}  ::::::</span>
                <h2>{{ _("Our Partners") }}</h2>
            </div>
            <!-- partners-block -->
            <div class="outer-box {% if request.LANGUAGE_CODE == "en" %}client-slider{% else %}client-slider-rtl{% endif %}">
                {% for partner in data.partner_set.all %}
                    <!-- partner-block -->
                    <div class="offer-block">
                        <div class="inner-box">
                            <img src="{{ partner.image.url }}" class="img-fluid" alt="{{ partner.name }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End partner-section -->

    <!-- client section -->
    <section class="client-section">
        <div class="auto-container">

            <div class="sec-title text-center">
                <h2>{{ _("Our Clients") }}</h2>
            </div>
            <div class="outer-box">
                <div class="{% if request.LANGUAGE_CODE == "en" %}clients-carousel{% else %}clients-carousel-rtl{% endif %}">
                    {% for client in data.client_set.all %}
                        <figure class="image wow fadeInLeft" data-wow-delay="400ms"><img src="{{ client.image.url }}"
                                                                                         alt="{{ client.name }}">
                        </figure>
                    {% endfor %}
                </div>
            </div>
            <!--      </div>-->
            <!--      </div>-->
        </div>
    </section>
    <!-- End client section -->

    <!-- testimonial-section -->
    <section id="testimonials" class="testimonial-section">
        <div class="auto-container">
            <div class="row">
                <!-- content-column -->
                <div class="content-column col-lg-5 col wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-column">
                        <div class="sec-title"><span class="sub-title">{{ _("OUR FEEDBAKCS") }}  ::::::</span>
                            <h2>{{ _("What They are Talking About Company") }}</h2>
                        </div>
                        <div class="btn-wrap pt-slider">
                            {% if request.LANGUAGE_CODE == "en" %}
                                <button class="prev-btn"><i class="fa fa-angle-left"></i></button>
                                <button class="next-btn"><i class="fa fa-angle-right"></i></button>
                            {% else %}
                                <button class="next-btn"><i class="fa fa-angle-right"></i></button>
                                <button class="prev-btn"><i class="fa fa-angle-left"></i></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- block-column -->
                <div class="col-lg-7 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
                    <div class="outer-box">
                        <div class="row {% if request.LANGUAGE_CODE == "en" %}testimonial-slider{% else %}testimonial-slider-rtl{% endif %}">
                            {% for testimonial in data.testimonial_set.all %}
                                <!-- testimonial-block -->
                                <div class="testimonial-block col-md-6">
                                    <div class="inner-box">
                                        <div class="auther-info">
                                            <h4 class="name">{{ testimonial.name }}</h4>
                                            <span class="designation">{{ testimonial.description }}</span>
                                            <div class="text">{{ testimonial.feedback }}</div>
                                            <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial-section -->

    <!-- Map Section-->
    <section class="map-section">
        {{ data.map|safe }}
    </section>
    <!--End Map Section-->

    <!-- Main Footer -->
    <footer id="contact" class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row">
                    <!--Footer Column-->
                    <div class="footer-column col-lg-3 col-md-12 wow fadeInLeft">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="{% url 'home' %}" title="itbuild home"><img src="{% static 'img/logo.webp' %}"
                                                                        alt="itbuild logo"></a></div>
                            <div class="text">{{ data.about_us_footer_text }}</div>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay="400ms">
                        <div class="footer-widget contact-widget">
                            <h3 class="widget-title">{{ _("Send us email") }}</h3>
                            <div class="widget-content">
                                <!--Contact Details Start-->
                                <!-- Contact Form -->
                                <form id="contact_form" name="contact_form" class="" action="{% url 'home' %}"
                                      method="post">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if 'success' in message.tags %}
                                                <script>
                                                    let mesg = "{{ message }}"
                                                    alert(mesg);
                                                </script>
                                                <div class="alert alert-success alert-dismissible fade show mb-2"
                                                     role="alert">
                                                    <strong class="text-black-50">{{ message }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                </div>
                                            {% else %}
                                                <script>
                                                    let mesg = "{{ message }}"
                                                    alert(mesg);
                                                </script>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                {{ form.name }}
                                                {{ form.name.errors }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                {{ form.email }}
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        {{ form.subject }}
                                        {{ form.subject.errors }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.message }}
                                        {{ form.message.errors }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.captcha }}
                                        {{ form.captcha.errors }}
                                    </div>
                                    <div class="mb-5">
                                        <button type="submit" class="theme-btn btn-style-one mb-md-0 mb-1"
                                                data-loading-text="Please wait..." id='emailForm' disabled><span
                                                class="btn-title">{{ _("Send message") }}</span></button>
                                        <button type="reset" class="theme-btn btn-style-one"><span
                                                class="btn-title">{{ _("Reset") }}</span></button>
                                    </div>
                                </form>
                                <!-- Contact Form Validation-->
                                <!--Contact Details End-->
                            </div>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-lg-3 col-md-12 wow fadeInLeft" data-wow-delay="600ms">
                        <div class="footer-widget contact-widget">
                            <h3 class="widget-title">{{ _("Contact Now") }}</h3>
                            <div class="widget-content">
                                <ul class="contact-info mb-0">
                                    {% for branchs in data.branch_set.all %}
                                        <div class="text">
                                            <i class="fa-solid fa-location-dot"></i> {{ branchs.address }}
                                        </div>

                                        {% for phones in branchs.phone_set.all %}
                                            <li>
                                                <i class="fa {% if phones.phone_type == '1' %}fa-phone{% else %}fa-mobile-alt{% endif %}"></i>
                                                <a href="tel:{{ phones.phone }}" dir="ltr">{{ phones.phone }}</a><br>
                                            </li>
                                        {% endfor %}

                                    {% endfor %}
                                </ul>
                                <ul class="contact-info">
                                    <li>
                                        <i class="fa fa-envelope"></i> <a
                                            href="mailto:{{ data.email }}">{{ data.email }}</a>
                                    </li>
                                </ul>
                                <ul class="social-icons">
                                    <li><a href="https://api.whatsapp.com/send?phone={{ data.whatsapp_phone|cut:'+' }}"
                                           title="itbuild whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                    <li><a href="{{ data.facebook }}" title="itbuild facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="{{ data.twitter }}" title="itbuild twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li><a href="{{ data.linkedin }}" title="itbuild linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="copyright-text text-center">© {{ _("itbuild Copyright reserved") }} {% now 'Y' %}
                    </div>
                    <div class="copyright-text text-center">{{ _("Developed by:") }} <a
                            href="https://api.whatsapp.com/send?phone=967775070264"
                            target="_blank">{{ _("Eng. Amr Alazazi") }}</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--End Main Footer -->

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

{% compress js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slick-animation.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endcompress %}
<script>
    function enableBtn(token) {
        document.getElementById('emailForm').disabled = false;
    }
</script>
</body>
</html>